*.mp4 filter=lfs diff=lfs merge=lfs -text
rdr2[[:space:]]web/video/*.mp4 filter=lfs diff=lfs merge=lfs -text
01m.mp4 filter=lfs diff=lfs merge=lfs -text
02m.mp4 filter=lfs diff=lfs merge=lfs -text
03m.mp4 filter=lfs diff=lfs merge=lfs -text
